<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css
  "
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3>Consultas</h3>
          <hr />
          <form action="/sourceresult" method="get">
            <input
              class="form-control"
              type="search"
              name="search"
              id="search"
              placeholder="CPF ou Email do Cliente"
            />
            <br />
            <button type="submit" class="btn btn-success form-control">
              Pesquisar
            </button>
            <hr />
          </form>
        </div>
        <div class="card-body">
          <%Appo.forEach((appo) =>{%>
          <h4>Paciente: <%= appo.name %></h4>
          <h4>Email: <%= appo.email %></h4>
          <h4>CPF: <%= appo.cpf %></h4>
          <hr />
          <%})%>
        </div>
      </div>
    </div>
  </body>
</html>
